body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:897px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1557 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:27px;
  width:133px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1557 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1558 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:154px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u1558 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1559 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:68px;
  width:804px;
  height:45px;
  display:flex;
}
#u1559 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1560 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:236px;
  width:541px;
  height:26px;
  display:flex;
}
#u1560 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1561 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:423px;
  width:541px;
  height:26px;
  display:flex;
}
#u1561 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1562 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:468px;
  width:100px;
  height:60px;
  display:flex;
}
#u1562 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1562_ref {
  border-width:0px;
  position:absolute;
  left:151px;
  top:518px;
  width:1px;
  height:1px;
}
#u1563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1563 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:468px;
  width:100px;
  height:60px;
  display:flex;
}
#u1563 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1563_ref {
  border-width:0px;
  position:absolute;
  left:357px;
  top:518px;
  width:1px;
  height:1px;
}
#u1564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1564 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:568px;
  width:100px;
  height:60px;
  display:flex;
}
#u1564 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1564_ref {
  border-width:0px;
  position:absolute;
  left:456px;
  top:618px;
  width:1px;
  height:1px;
}
#u1565 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:528px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u1565_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:75px;
}
#u1565_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:65px;
  width:54px;
  height:10px;
}
#u1565_seg2 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:61px;
  width:18px;
  height:18px;
}
#u1565_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1566 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:268px;
  width:100px;
  height:60px;
  display:flex;
}
#u1566 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u1566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1566_ref {
  border-width:0px;
  position:absolute;
  left:145px;
  top:318px;
  width:1px;
  height:1px;
}
#u1567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1567 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:680px;
  width:541px;
  height:26px;
  display:flex;
}
#u1567 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#409EFF;
}
#u1568 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:716px;
  width:850px;
  height:19px;
  display:flex;
  color:#409EFF;
}
#u1568 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
