body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:27px;
  width:133px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:176px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3791 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:68px;
  width:804px;
  height:45px;
  display:flex;
}
#u3792 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3793 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:249px;
  width:572px;
  height:26px;
  display:flex;
}
#u3793 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3794 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:292px;
  width:100px;
  height:60px;
  display:flex;
}
#u3794 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3794_ref {
  border-width:0px;
  position:absolute;
  left:139px;
  top:342px;
  width:1px;
  height:1px;
}
#u3795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3795 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:399px;
  width:100px;
  height:60px;
  display:flex;
}
#u3795 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3795_ref {
  border-width:0px;
  position:absolute;
  left:262px;
  top:449px;
  width:1px;
  height:1px;
}
#u3796 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:352px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3796_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:82px;
}
#u3796_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:72px;
  width:78px;
  height:10px;
}
#u3796_seg2 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:68px;
  width:18px;
  height:18px;
}
#u3796_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:67px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3797 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:1226px;
  width:100px;
  height:60px;
  display:flex;
}
#u3797 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3798 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:518px;
  width:541px;
  height:26px;
  display:flex;
}
#u3798 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3799 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:1361px;
  width:100px;
  height:60px;
  display:flex;
}
#u3799 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3800 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1313px;
  width:100px;
  height:60px;
  display:flex;
}
#u3800 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3801 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:1256px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3801_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:63px;
  height:10px;
}
#u3801_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-5px;
  width:10px;
  height:97px;
}
#u3801_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:82px;
  width:63px;
  height:10px;
}
#u3801_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:78px;
  width:18px;
  height:18px;
}
#u3801_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3802 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:1391px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3802_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:63px;
  height:10px;
}
#u3802_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-53px;
  width:10px;
  height:58px;
}
#u3802_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-53px;
  width:63px;
  height:10px;
}
#u3802_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-57px;
  width:18px;
  height:18px;
}
#u3802_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3803 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:1143px;
  width:100px;
  height:60px;
  display:flex;
}
#u3803 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3804 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1510px;
  width:100px;
  height:60px;
  display:flex;
}
#u3804 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3805 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1226px;
  width:100px;
  height:60px;
  display:flex;
}
#u3805 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3806 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1361px;
  width:100px;
  height:60px;
  display:flex;
}
#u3806 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3807 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1256px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3807_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:60px;
  height:10px;
}
#u3807_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3807_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3808 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1391px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3808_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:60px;
  height:10px;
}
#u3808_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3808_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3809 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1343px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3809_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:56px;
  height:10px;
}
#u3809_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3809_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3810 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1343px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3810_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u3810_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-5px;
  width:10px;
  height:131px;
}
#u3810_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:116px;
  width:80px;
  height:10px;
}
#u3810_seg3 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:112px;
  width:18px;
  height:18px;
}
#u3810_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3811 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:1313px;
  width:100px;
  height:60px;
  display:flex;
}
#u3811 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3812 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1343px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3812_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u3812_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-175px;
  width:10px;
  height:180px;
}
#u3812_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-175px;
  width:72px;
  height:10px;
}
#u3812_seg3 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-179px;
  width:18px;
  height:18px;
}
#u3812_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-114px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  text-align:center;
}
#u3813 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:1165px;
  width:100px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  text-align:center;
}
#u3813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  text-align:center;
}
#u3814 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:1532px;
  width:146px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  text-align:center;
}
#u3814 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3815 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:621px;
  width:100px;
  height:60px;
  display:flex;
}
#u3815 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3815_ref {
  border-width:0px;
  position:absolute;
  left:139px;
  top:671px;
  width:1px;
  height:1px;
}
#u3816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3816 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:583px;
  width:173px;
  height:26px;
  display:flex;
}
#u3816 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3817 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:700px;
  width:100px;
  height:60px;
  display:flex;
}
#u3817 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3817_ref {
  border-width:0px;
  position:absolute;
  left:139px;
  top:750px;
  width:1px;
  height:1px;
}
#u3818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3818 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1100px;
  width:541px;
  height:26px;
  display:flex;
}
#u3818 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3819 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:1372px;
  width:100px;
  height:60px;
  display:flex;
}
#u3819 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3820 {
  border-width:0px;
  position:absolute;
  left:805px;
  top:1434px;
  width:100px;
  height:60px;
  display:flex;
}
#u3820 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3821 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:1434px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3821_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-37px;
  width:10px;
  height:37px;
}
#u3821_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-37px;
  width:143px;
  height:10px;
}
#u3821_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:-41px;
  width:18px;
  height:18px;
}
#u3821_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3822 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:1494px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3822_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u3822_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:41px;
  width:143px;
  height:10px;
}
#u3822_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:37px;
  width:18px;
  height:18px;
}
#u3822_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  text-align:center;
}
#u3823 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:1394px;
  width:100px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  text-align:center;
}
#u3823 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3824 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:828px;
  width:541px;
  height:26px;
  display:flex;
}
#u3824 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3825 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:873px;
  width:100px;
  height:60px;
  display:flex;
}
#u3825 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3825_ref {
  border-width:0px;
  position:absolute;
  left:145px;
  top:923px;
  width:1px;
  height:1px;
}
#u3826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3826 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:873px;
  width:100px;
  height:60px;
  display:flex;
}
#u3826 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3826_ref {
  border-width:0px;
  position:absolute;
  left:351px;
  top:923px;
  width:1px;
  height:1px;
}
#u3827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3827 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:973px;
  width:100px;
  height:60px;
  display:flex;
}
#u3827 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3827_ref {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1023px;
  width:1px;
  height:1px;
}
#u3828 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:933px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3828_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:75px;
}
#u3828_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:65px;
  width:54px;
  height:10px;
}
#u3828_seg2 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:61px;
  width:18px;
  height:18px;
}
#u3828_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:52px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
