body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:45px;
  width:276px;
  height:31px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
}
#u2505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:188px;
  width:165px;
  height:164px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2506 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u2506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:352px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
}
#u2507_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:39px;
}
#u2507_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u2507_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:576px;
  width:150px;
  height:66px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2508 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u2508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:86px;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:386px;
  width:150px;
  height:86px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  color:#000000;
}
#u2509 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:429px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
}
#u2510_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:186px;
  height:10px;
}
#u2510_seg1 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-5px;
  width:10px;
  height:152px;
}
#u2510_seg2 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:134px;
  width:18px;
  height:19px;
}
#u2510_text {
  border-width:0px;
  position:absolute;
  left:114px;
  top:-17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:472px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
}
#u2511_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:109px;
}
#u2511_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:91px;
  width:18px;
  height:19px;
}
#u2511_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:35px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:576px;
  width:150px;
  height:58px;
  display:flex;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2512 .text {
  position:absolute;
  align-self:flex-start;
  padding:5px 5px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:30px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:109px;
  width:165px;
  height:30px;
  display:flex;
  font-size:14px;
  line-height:30px;
}
#u2513 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:30px;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:124px;
  width:126px;
  height:30px;
  display:flex;
  font-size:14px;
  line-height:30px;
}
#u2514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:799px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#333333;
  line-height:30px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:167px;
  width:799px;
  height:120px;
  display:flex;
  color:#333333;
  line-height:30px;
}
#u2515 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:305px;
  width:870px;
  height:124px;
  display:flex;
  color:#000000;
}
#u2516 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:716px;
  width:145px;
  height:60px;
  display:flex;
  color:#555555;
}
#u2517 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:917px;
  width:145px;
  height:60px;
  display:flex;
  color:#F59A23;
}
#u2518 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1382px;
  width:180px;
  height:60px;
  display:flex;
  color:#555555;
}
#u2519 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:977px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2520_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:410px;
}
#u2520_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:395px;
  width:18px;
  height:18px;
}
#u2520_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:194px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:60px;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:917px;
  width:145px;
  height:60px;
  display:flex;
  color:#555555;
}
#u2521 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:977px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u2522_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:134px;
}
#u2522_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:119px;
  width:18px;
  height:18px;
}
#u2522_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
  text-align:left;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1106px;
  width:180px;
  height:79px;
  display:flex;
  color:#555555;
  text-align:left;
}
#u2523 .text {
  position:absolute;
  align-self:center;
  padding:5px 5px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1185px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u2524_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:202px;
}
#u2524_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:187px;
  width:18px;
  height:18px;
}
#u2524_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:642px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2525_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:79px;
}
#u2525_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:64px;
  width:18px;
  height:18px;
}
#u2525_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:60px;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:917px;
  width:145px;
  height:60px;
  display:flex;
  color:#555555;
}
#u2526 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:776px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2527_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:146px;
}
#u2527_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:128px;
  width:18px;
  height:19px;
}
#u2527_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:776px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2528_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u2528_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:59px;
  width:244px;
  height:10px;
}
#u2528_seg2 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:59px;
  width:10px;
  height:82px;
}
#u2528_seg3 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:128px;
  width:18px;
  height:19px;
}
#u2528_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:776px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2529_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u2529_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:59px;
  width:683px;
  height:10px;
}
#u2529_seg2 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:59px;
  width:10px;
  height:82px;
}
#u2529_seg3 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:128px;
  width:18px;
  height:19px;
}
#u2529_text {
  border-width:0px;
  position:absolute;
  left:293px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:60px;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:917px;
  width:145px;
  height:60px;
  display:flex;
  color:#F59A23;
}
#u2530 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:776px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2531_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u2531_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:59px;
  width:472px;
  height:10px;
}
#u2531_seg2 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:59px;
  width:10px;
  height:82px;
}
#u2531_seg3 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:128px;
  width:18px;
  height:19px;
}
#u2531_text {
  border-width:0px;
  position:absolute;
  left:188px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
  text-align:left;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:1106px;
  width:180px;
  height:79px;
  display:flex;
  color:#555555;
  text-align:left;
}
#u2532 .text {
  position:absolute;
  align-self:center;
  padding:5px 5px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:977px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2533_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:134px;
}
#u2533_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:116px;
  width:18px;
  height:19px;
}
#u2533_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
  text-align:left;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:1106px;
  width:180px;
  height:79px;
  display:flex;
  color:#F59A23;
  text-align:left;
}
#u2534 .text {
  position:absolute;
  align-self:center;
  padding:5px 5px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:1382px;
  width:180px;
  height:60px;
  display:flex;
  color:#F59A23;
}
#u2535 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:1382px;
  width:180px;
  height:60px;
  display:flex;
  color:#555555;
}
#u2536 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:1185px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u2537_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:202px;
}
#u2537_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:184px;
  width:18px;
  height:19px;
}
#u2537_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:977px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2538_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:134px;
}
#u2538_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:116px;
  width:18px;
  height:19px;
}
#u2538_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:634px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2539_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:117px;
}
#u2539_seg1 {
  border-width:0px;
  position:absolute;
  left:-184px;
  top:107px;
  width:189px;
  height:10px;
}
#u2539_seg2 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:103px;
  width:19px;
  height:18px;
}
#u2539_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:104px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.427450980392157);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(2, 167, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F59A23;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:1382px;
  width:180px;
  height:60px;
  display:flex;
  color:#F59A23;
}
#u2540 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:1185px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u2541_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:202px;
}
#u2541_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:187px;
  width:18px;
  height:18px;
}
#u2541_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:82px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:55px;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1477px;
  width:635px;
  height:55px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
}
#u2542 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:870px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:544px;
  top:457px;
  width:870px;
  height:114px;
  display:flex;
  color:#000000;
}
#u2543 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
