body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1429px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5237 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:216px;
  width:134px;
  height:51px;
  display:flex;
}
#u5237 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5238 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:216px;
  width:134px;
  height:51px;
  display:flex;
}
#u5238 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5239 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:242px;
  width:0px;
  height:0px;
}
#u5239_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:62px;
  height:10px;
}
#u5239_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5239_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u5240 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:198px;
  width:148px;
  height:87px;
  display:flex;
}
#u5240 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5241 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:242px;
  width:0px;
  height:0px;
}
#u5241_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:46px;
  height:10px;
}
#u5241_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5241_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5242 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:122px;
  width:134px;
  height:51px;
  display:flex;
}
#u5242 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5243 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:242px;
  width:0px;
  height:0px;
}
#u5243_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:95px;
  height:10px;
}
#u5243_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-99px;
  width:10px;
  height:104px;
}
#u5243_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-99px;
  width:94px;
  height:10px;
}
#u5243_seg3 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-103px;
  width:18px;
  height:18px;
}
#u5243_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-55px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5244 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:312px;
  width:134px;
  height:51px;
  display:flex;
}
#u5244 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5245 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:242px;
  width:0px;
  height:0px;
}
#u5245_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:94px;
  height:10px;
}
#u5245_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-5px;
  width:10px;
  height:106px;
}
#u5245_seg2 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:91px;
  width:95px;
  height:10px;
}
#u5245_seg3 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:87px;
  width:18px;
  height:18px;
}
#u5245_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5246 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:450px;
  width:382px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5247 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:56px;
  width:90px;
  height:24px;
  display:flex;
}
#u5247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5247_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5248 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:626px;
  width:72px;
  height:24px;
  display:flex;
}
#u5248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5248_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5249 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:788px;
  width:134px;
  height:51px;
  display:flex;
}
#u5249 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5250 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:788px;
  width:134px;
  height:51px;
  display:flex;
}
#u5250 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:770px;
  width:148px;
  height:87px;
  display:flex;
}
#u5251 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:814px;
  width:0px;
  height:0px;
}
#u5252_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:51px;
  height:10px;
}
#u5252_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-141px;
  width:10px;
  height:146px;
}
#u5252_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-141px;
  width:86px;
  height:10px;
}
#u5252_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-94px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5253 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:814px;
  width:0px;
  height:0px;
}
#u5253_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u5253_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-5px;
  width:10px;
  height:157px;
}
#u5253_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:142px;
  width:89px;
  height:10px;
}
#u5253_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:86px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5254 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:814px;
  width:0px;
  height:0px;
}
#u5254_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:49px;
  height:10px;
}
#u5254_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5254_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5255 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:814px;
  width:0px;
  height:0px;
}
#u5255_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:44px;
  height:10px;
}
#u5255_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5255_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u5256 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:770px;
  width:148px;
  height:87px;
  display:flex;
}
#u5256 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5257 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:814px;
  width:0px;
  height:0px;
}
#u5257_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:73px;
  height:10px;
}
#u5257_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5257_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5258 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:857px;
  width:0px;
  height:0px;
}
#u5258_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:109px;
}
#u5258_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:99px;
  width:422px;
  height:10px;
}
#u5258_seg2 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:95px;
  width:18px;
  height:18px;
}
#u5258_text {
  border-width:0px;
  position:absolute;
  left:106px;
  top:96px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u5259 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:198px;
  width:148px;
  height:87px;
  display:flex;
}
#u5259 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5260 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:242px;
  width:0px;
  height:0px;
}
#u5260_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:74px;
  height:10px;
}
#u5260_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5260_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5261 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:285px;
  width:0px;
  height:0px;
}
#u5261_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u5261_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:48px;
  width:475px;
  height:10px;
}
#u5261_seg2 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:44px;
  width:18px;
  height:18px;
}
#u5261_text {
  border-width:0px;
  position:absolute;
  left:158px;
  top:44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u5262 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:935px;
  width:134px;
  height:51px;
  display:flex;
  color:#D9001B;
}
#u5262 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5263 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:720px;
  width:442px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5264 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:185px;
  width:370px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5264 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5265 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:328px;
  width:310px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5265 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5266 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:652px;
  width:134px;
  height:51px;
  display:flex;
}
#u5266 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5267 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:668px;
  width:310px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5267 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5268 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:363px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u5268_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:73px;
}
#u5268_seg1 {
  border-width:0px;
  position:absolute;
  left:-724px;
  top:63px;
  width:729px;
  height:10px;
}
#u5268_seg2 {
  border-width:0px;
  position:absolute;
  left:-724px;
  top:-96px;
  width:10px;
  height:169px;
}
#u5268_seg3 {
  border-width:0px;
  position:absolute;
  left:-728px;
  top:-104px;
  width:18px;
  height:18px;
}
#u5268_text {
  border-width:0px;
  position:absolute;
  left:-458px;
  top:61px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5269 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:138px;
  width:310px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5270 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:122px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u5270_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-36px;
  width:10px;
  height:36px;
}
#u5270_seg1 {
  border-width:0px;
  position:absolute;
  left:-724px;
  top:-36px;
  width:729px;
  height:10px;
}
#u5270_seg2 {
  border-width:0px;
  position:absolute;
  left:-724px;
  top:-36px;
  width:10px;
  height:130px;
}
#u5270_seg3 {
  border-width:0px;
  position:absolute;
  left:-728px;
  top:84px;
  width:18px;
  height:18px;
}
#u5270_text {
  border-width:0px;
  position:absolute;
  left:-456px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5271 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:652px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u5271_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-47px;
  width:10px;
  height:47px;
}
#u5271_seg1 {
  border-width:0px;
  position:absolute;
  left:-669px;
  top:-47px;
  width:674px;
  height:10px;
}
#u5271_seg2 {
  border-width:0px;
  position:absolute;
  left:-669px;
  top:-47px;
  width:10px;
  height:183px;
}
#u5271_seg3 {
  border-width:0px;
  position:absolute;
  left:-673px;
  top:126px;
  width:18px;
  height:18px;
}
#u5271_text {
  border-width:0px;
  position:absolute;
  left:-450px;
  top:-49px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
