body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1429px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5219 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:216px;
  width:134px;
  height:51px;
  display:flex;
}
#u5219 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5220 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:216px;
  width:134px;
  height:51px;
  display:flex;
}
#u5220 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5221 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:242px;
  width:0px;
  height:0px;
}
#u5221_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:62px;
  height:10px;
}
#u5221_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5221_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u5222 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:198px;
  width:148px;
  height:87px;
  display:flex;
}
#u5222 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5223 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:242px;
  width:0px;
  height:0px;
}
#u5223_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:46px;
  height:10px;
}
#u5223_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5223_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5224 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:122px;
  width:134px;
  height:51px;
  display:flex;
}
#u5224 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5225 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:242px;
  width:0px;
  height:0px;
}
#u5225_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:95px;
  height:10px;
}
#u5225_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-99px;
  width:10px;
  height:104px;
}
#u5225_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-99px;
  width:94px;
  height:10px;
}
#u5225_seg3 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:-103px;
  width:18px;
  height:18px;
}
#u5225_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-55px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5226 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:312px;
  width:134px;
  height:51px;
  display:flex;
}
#u5226 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5227 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:242px;
  width:0px;
  height:0px;
}
#u5227_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:94px;
  height:10px;
}
#u5227_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-5px;
  width:10px;
  height:106px;
}
#u5227_seg2 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:91px;
  width:95px;
  height:10px;
}
#u5227_seg3 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:87px;
  width:18px;
  height:18px;
}
#u5227_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:40px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5228 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:450px;
  width:382px;
  height:44px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5228 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5229 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:56px;
  width:90px;
  height:24px;
  display:flex;
}
#u5229 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5229_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5230 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:626px;
  width:72px;
  height:24px;
  display:flex;
}
#u5230 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5230_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5231 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:788px;
  width:134px;
  height:51px;
  display:flex;
}
#u5231 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5232 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:788px;
  width:134px;
  height:51px;
  display:flex;
}
#u5232 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u5233 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:770px;
  width:148px;
  height:87px;
  display:flex;
}
#u5233 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5234 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:814px;
  width:0px;
  height:0px;
}
#u5234_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:51px;
  height:10px;
}
#u5234_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-141px;
  width:10px;
  height:146px;
}
#u5234_seg2 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-141px;
  width:86px;
  height:10px;
}
#u5234_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-94px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5235 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:814px;
  width:0px;
  height:0px;
}
#u5235_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:48px;
  height:10px;
}
#u5235_seg1 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:-5px;
  width:10px;
  height:157px;
}
#u5235_seg2 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:142px;
  width:89px;
  height:10px;
}
#u5235_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:86px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5236 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:814px;
  width:0px;
  height:0px;
}
#u5236_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:49px;
  height:10px;
}
#u5236_seg1 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5236_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5237 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:814px;
  width:0px;
  height:0px;
}
#u5237_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:44px;
  height:10px;
}
#u5237_seg1 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5237_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u5238 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:770px;
  width:148px;
  height:87px;
  display:flex;
}
#u5238 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5239 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:814px;
  width:0px;
  height:0px;
}
#u5239_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:73px;
  height:10px;
}
#u5239_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5239_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5240 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:857px;
  width:0px;
  height:0px;
}
#u5240_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:109px;
}
#u5240_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:99px;
  width:422px;
  height:10px;
}
#u5240_seg2 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:95px;
  width:18px;
  height:18px;
}
#u5240_text {
  border-width:0px;
  position:absolute;
  left:106px;
  top:96px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u5241 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:198px;
  width:148px;
  height:87px;
  display:flex;
}
#u5241 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5242 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:242px;
  width:0px;
  height:0px;
}
#u5242_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:74px;
  height:10px;
}
#u5242_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:18px;
  height:18px;
}
#u5242_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5243 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:285px;
  width:0px;
  height:0px;
}
#u5243_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:58px;
}
#u5243_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:48px;
  width:475px;
  height:10px;
}
#u5243_seg2 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:44px;
  width:18px;
  height:18px;
}
#u5243_text {
  border-width:0px;
  position:absolute;
  left:158px;
  top:44px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u5244 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:935px;
  width:134px;
  height:51px;
  display:flex;
  color:#D9001B;
}
#u5244 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5245 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:720px;
  width:442px;
  height:41px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5246 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:185px;
  width:370px;
  height:38px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5247 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:328px;
  width:310px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5248 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:652px;
  width:134px;
  height:51px;
  display:flex;
}
#u5248 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5249 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:668px;
  width:310px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5249 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5250 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:363px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u5250_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:73px;
}
#u5250_seg1 {
  border-width:0px;
  position:absolute;
  left:-724px;
  top:63px;
  width:729px;
  height:10px;
}
#u5250_seg2 {
  border-width:0px;
  position:absolute;
  left:-724px;
  top:-96px;
  width:10px;
  height:169px;
}
#u5250_seg3 {
  border-width:0px;
  position:absolute;
  left:-728px;
  top:-104px;
  width:18px;
  height:18px;
}
#u5250_text {
  border-width:0px;
  position:absolute;
  left:-458px;
  top:61px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:138px;
  width:310px;
  height:19px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:122px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u5252_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-36px;
  width:10px;
  height:36px;
}
#u5252_seg1 {
  border-width:0px;
  position:absolute;
  left:-724px;
  top:-36px;
  width:729px;
  height:10px;
}
#u5252_seg2 {
  border-width:0px;
  position:absolute;
  left:-724px;
  top:-36px;
  width:10px;
  height:130px;
}
#u5252_seg3 {
  border-width:0px;
  position:absolute;
  left:-728px;
  top:84px;
  width:18px;
  height:18px;
}
#u5252_text {
  border-width:0px;
  position:absolute;
  left:-456px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u5253 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:652px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u5253_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-47px;
  width:10px;
  height:47px;
}
#u5253_seg1 {
  border-width:0px;
  position:absolute;
  left:-669px;
  top:-47px;
  width:674px;
  height:10px;
}
#u5253_seg2 {
  border-width:0px;
  position:absolute;
  left:-669px;
  top:-47px;
  width:10px;
  height:183px;
}
#u5253_seg3 {
  border-width:0px;
  position:absolute;
  left:-673px;
  top:126px;
  width:18px;
  height:18px;
}
#u5253_text {
  border-width:0px;
  position:absolute;
  left:-450px;
  top:-49px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
