body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2842 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:119px;
  width:134px;
  height:51px;
  display:flex;
}
#u2842 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(236, 128, 141, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2843 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:119px;
  width:134px;
  height:51px;
  display:flex;
}
#u2843 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2844 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:145px;
  width:0px;
  height:0px;
}
#u2844_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:62px;
  height:10px;
}
#u2844_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2844_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u2845 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:101px;
  width:148px;
  height:87px;
  display:flex;
}
#u2845 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2846 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:145px;
  width:0px;
  height:0px;
}
#u2846_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:63px;
  height:10px;
}
#u2846_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2846_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2847 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:38px;
  width:134px;
  height:51px;
  display:flex;
}
#u2847 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2848 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:145px;
  width:0px;
  height:0px;
}
#u2848_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:73px;
  height:10px;
}
#u2848_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-86px;
  width:10px;
  height:91px;
}
#u2848_seg2 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-86px;
  width:74px;
  height:10px;
}
#u2848_seg3 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-90px;
  width:18px;
  height:18px;
}
#u2848_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(236, 128, 141, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2849 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:199px;
  width:134px;
  height:51px;
  display:flex;
}
#u2849 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2850 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:145px;
  width:0px;
  height:0px;
}
#u2850_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:73px;
  height:10px;
}
#u2850_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-5px;
  width:10px;
  height:90px;
}
#u2850_seg2 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:75px;
  width:74px;
  height:10px;
}
#u2850_seg3 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:71px;
  width:18px;
  height:18px;
}
#u2850_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u2851 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:181px;
  width:148px;
  height:87px;
  display:flex;
}
#u2851 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2852 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:225px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u2852_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:116px;
  height:10px;
}
#u2852_seg1 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2852_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2853 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:199px;
  width:134px;
  height:51px;
  display:flex;
}
#u2853 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2854 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:181px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u2854_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-122px;
  width:10px;
  height:122px;
}
#u2854_seg1 {
  border-width:0px;
  position:absolute;
  left:-185px;
  top:-122px;
  width:190px;
  height:10px;
}
#u2854_seg2 {
  border-width:0px;
  position:absolute;
  left:-193px;
  top:-126px;
  width:18px;
  height:18px;
}
#u2854_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-125px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2855 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:225px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u2855_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:118px;
  height:10px;
}
#u2855_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2855_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2856 {
  border-width:0px;
  position:absolute;
  left:1305px;
  top:250px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u2856_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:83px;
}
#u2856_seg1 {
  border-width:0px;
  position:absolute;
  left:-988px;
  top:73px;
  width:993px;
  height:10px;
}
#u2856_seg2 {
  border-width:0px;
  position:absolute;
  left:-988px;
  top:-80px;
  width:10px;
  height:163px;
}
#u2856_seg3 {
  border-width:0px;
  position:absolute;
  left:-992px;
  top:-88px;
  width:18px;
  height:18px;
}
#u2856_text {
  border-width:0px;
  position:absolute;
  left:-582px;
  top:70px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u2857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2857 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:401px;
  width:434px;
  height:28px;
  display:flex;
}
#u2857 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2858 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:440px;
  width:377px;
  height:158px;
}
#u2859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:39px;
}
#u2859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:39px;
  display:flex;
}
#u2859 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:39px;
}
#u2860 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:207px;
  height:39px;
  display:flex;
}
#u2860 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u2861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:170px;
  height:41px;
  display:flex;
}
#u2861 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:41px;
}
#u2862 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:39px;
  width:207px;
  height:41px;
  display:flex;
}
#u2862 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:39px;
}
#u2863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:170px;
  height:39px;
  display:flex;
}
#u2863 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:39px;
}
#u2864 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:80px;
  width:207px;
  height:39px;
  display:flex;
}
#u2864 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:39px;
}
#u2865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:119px;
  width:170px;
  height:39px;
  display:flex;
}
#u2865 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:39px;
}
#u2866 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:119px;
  width:207px;
  height:39px;
  display:flex;
}
#u2866 .text {
  position:absolute;
  align-self:center;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2867 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:489px;
  width:100px;
  height:60px;
  display:flex;
}
#u2867 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2867_ref {
  border-width:0px;
  position:absolute;
  left:554px;
  top:539px;
  width:1px;
  height:1px;
}
#u2868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:915px;
  height:1602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2868 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:671px;
  width:915px;
  height:1602px;
  display:flex;
}
#u2868 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u2869 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:2292px;
  width:405px;
  height:121px;
  display:flex;
  color:#D9001B;
}
#u2869 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u2870 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:609px;
  width:434px;
  height:28px;
  display:flex;
  color:#D9001B;
}
#u2870 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
