body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1879px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:119px;
  width:134px;
  height:51px;
  display:flex;
}
#u3900 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(236, 128, 141, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3901 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:119px;
  width:134px;
  height:51px;
  display:flex;
}
#u3901 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:145px;
  width:0px;
  height:0px;
}
#u3902_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:62px;
  height:10px;
}
#u3902_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3902_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u3903 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:101px;
  width:148px;
  height:87px;
  display:flex;
}
#u3903 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3904 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:145px;
  width:0px;
  height:0px;
}
#u3904_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:63px;
  height:10px;
}
#u3904_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3904_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3905 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:38px;
  width:134px;
  height:51px;
  display:flex;
}
#u3905 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3906 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:145px;
  width:0px;
  height:0px;
}
#u3906_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:73px;
  height:10px;
}
#u3906_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-86px;
  width:10px;
  height:91px;
}
#u3906_seg2 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-86px;
  width:74px;
  height:10px;
}
#u3906_seg3 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-90px;
  width:18px;
  height:18px;
}
#u3906_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-50px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(236, 128, 141, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3907 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:199px;
  width:134px;
  height:51px;
  display:flex;
}
#u3907 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:145px;
  width:0px;
  height:0px;
}
#u3908_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:73px;
  height:10px;
}
#u3908_seg1 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-5px;
  width:10px;
  height:90px;
}
#u3908_seg2 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:75px;
  width:74px;
  height:10px;
}
#u3908_seg3 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:71px;
  width:18px;
  height:18px;
}
#u3908_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:181px;
  width:148px;
  height:87px;
  display:flex;
}
#u3909 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:225px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3910_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:116px;
  height:10px;
}
#u3910_seg1 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3910_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(236, 128, 141, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3911 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:199px;
  width:134px;
  height:51px;
  display:flex;
}
#u3911 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:181px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3912_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-122px;
  width:10px;
  height:122px;
}
#u3912_seg1 {
  border-width:0px;
  position:absolute;
  left:-185px;
  top:-122px;
  width:190px;
  height:10px;
}
#u3912_seg2 {
  border-width:0px;
  position:absolute;
  left:-193px;
  top:-126px;
  width:18px;
  height:18px;
}
#u3912_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-126px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:225px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3913_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:118px;
  height:10px;
}
#u3913_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3913_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:1812px;
  top:250px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3914_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:109px;
}
#u3914_seg1 {
  border-width:0px;
  position:absolute;
  left:-1495px;
  top:99px;
  width:1500px;
  height:10px;
}
#u3914_seg2 {
  border-width:0px;
  position:absolute;
  left:-1495px;
  top:-80px;
  width:10px;
  height:189px;
}
#u3914_seg3 {
  border-width:0px;
  position:absolute;
  left:-1499px;
  top:-88px;
  width:18px;
  height:18px;
}
#u3914_text {
  border-width:0px;
  position:absolute;
  left:-835px;
  top:96px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:13px;
  width:100px;
  height:60px;
  display:flex;
}
#u3915 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3915_ref {
  border-width:0px;
  position:absolute;
  left:481px;
  top:63px;
  width:1px;
  height:1px;
}
#u3916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1269px;
  height:1602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:656px;
  width:1269px;
  height:1602px;
  display:flex;
}
#u3916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:2327px;
  width:890px;
  height:108px;
  display:flex;
  color:#D9001B;
}
#u3917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:184px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:446px;
  width:651px;
  height:184px;
  display:flex;
  color:#D9001B;
}
#u3918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:44px;
  width:114px;
  height:57px;
  display:flex;
  color:#D9001B;
}
#u3919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u3920 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:268px;
  width:218px;
  height:38px;
  display:flex;
  color:#D9001B;
}
#u3920 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:87px;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:1477px;
  top:181px;
  width:148px;
  height:87px;
  display:flex;
}
#u3921 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3922 {
  border-width:0px;
  position:absolute;
  left:1551px;
  top:181px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3922_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-122px;
  width:10px;
  height:122px;
}
#u3922_seg1 {
  border-width:0px;
  position:absolute;
  left:-685px;
  top:-122px;
  width:690px;
  height:10px;
}
#u3922_seg2 {
  border-width:0px;
  position:absolute;
  left:-693px;
  top:-126px;
  width:18px;
  height:18px;
}
#u3922_text {
  border-width:0px;
  position:absolute;
  left:-334px;
  top:-125px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3923 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:225px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3923_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:110px;
  height:10px;
}
#u3923_seg1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:51px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:1745px;
  top:199px;
  width:134px;
  height:51px;
  display:flex;
}
#u3924 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:1625px;
  top:225px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3925_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:125px;
  height:10px;
}
#u3925_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3925_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D9001B;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:257px;
  width:95px;
  height:22px;
  display:flex;
  color:#D9001B;
}
#u3926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
