body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:998px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:27px;
  width:133px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4284 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:154px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u4285 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4286 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:68px;
  width:804px;
  height:37px;
  display:flex;
}
#u4286 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:951px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4287 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:203px;
  width:951px;
  height:25px;
  display:flex;
}
#u4287 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4288 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:545px;
  width:106px;
  height:19px;
  display:flex;
}
#u4288 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4288_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4289 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:243px;
  width:100px;
  height:60px;
  display:flex;
}
#u4289 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4289_ref {
  border-width:0px;
  position:absolute;
  left:163px;
  top:293px;
  width:1px;
  height:1px;
}
#u4290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4290 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:319px;
  width:100px;
  height:60px;
  display:flex;
}
#u4290 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4290_ref {
  border-width:0px;
  position:absolute;
  left:255px;
  top:369px;
  width:1px;
  height:1px;
}
#u4291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4291 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:394px;
  width:100px;
  height:60px;
  display:flex;
}
#u4291 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4291_ref {
  border-width:0px;
  position:absolute;
  left:255px;
  top:444px;
  width:1px;
  height:1px;
}
#u4292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4292 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:465px;
  width:100px;
  height:60px;
  display:flex;
}
#u4292 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4292_ref {
  border-width:0px;
  position:absolute;
  left:255px;
  top:515px;
  width:1px;
  height:1px;
}
#u4293 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:303px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u4293_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u4293_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:41px;
  width:47px;
  height:10px;
}
#u4293_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:37px;
  width:18px;
  height:18px;
}
#u4293_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4294 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:303px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u4294_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:126px;
}
#u4294_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:116px;
  width:47px;
  height:10px;
}
#u4294_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:112px;
  width:18px;
  height:18px;
}
#u4294_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:74px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4295 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:303px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u4295_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:197px;
}
#u4295_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:187px;
  width:47px;
  height:10px;
}
#u4295_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:183px;
  width:18px;
  height:18px;
}
#u4295_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:109px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4296 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:603px;
  width:100px;
  height:60px;
  display:flex;
}
#u4296 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4296_ref {
  border-width:0px;
  position:absolute;
  left:163px;
  top:653px;
  width:1px;
  height:1px;
}
#u4297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4297 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:700px;
  width:100px;
  height:60px;
  display:flex;
}
#u4297 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4297_ref {
  border-width:0px;
  position:absolute;
  left:255px;
  top:750px;
  width:1px;
  height:1px;
}
#u4298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4298 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:796px;
  width:100px;
  height:60px;
  display:flex;
}
#u4298 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4298_ref {
  border-width:0px;
  position:absolute;
  left:255px;
  top:846px;
  width:1px;
  height:1px;
}
#u4299 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:663px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u4299_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:72px;
}
#u4299_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:62px;
  width:47px;
  height:10px;
}
#u4299_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:58px;
  width:18px;
  height:18px;
}
#u4299_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4300 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:663px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#D9001B;
}
#u4300_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:168px;
}
#u4300_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:158px;
  width:47px;
  height:10px;
}
#u4300_seg2 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:154px;
  width:18px;
  height:18px;
}
#u4300_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:94px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
