body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1072px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3764 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:27px;
  width:133px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3765 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:176px;
  width:124px;
  height:32px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u3765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:804px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3766 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:68px;
  width:804px;
  height:26px;
  display:flex;
}
#u3766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3767 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:249px;
  width:572px;
  height:26px;
  display:flex;
}
#u3767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3768 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:292px;
  width:100px;
  height:60px;
  display:flex;
}
#u3768 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3768_ref {
  border-width:0px;
  position:absolute;
  left:139px;
  top:342px;
  width:1px;
  height:1px;
}
#u3769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3769 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:399px;
  width:100px;
  height:60px;
  display:flex;
}
#u3769 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3769_ref {
  border-width:0px;
  position:absolute;
  left:262px;
  top:449px;
  width:1px;
  height:1px;
}
#u3770 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:352px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3770_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:82px;
}
#u3770_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:72px;
  width:78px;
  height:10px;
}
#u3770_seg2 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:68px;
  width:18px;
  height:18px;
}
#u3770_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:67px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3771 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:945px;
  width:100px;
  height:60px;
  display:flex;
}
#u3771 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3772 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:518px;
  width:541px;
  height:26px;
  display:flex;
}
#u3772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3773 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:1080px;
  width:100px;
  height:60px;
  display:flex;
}
#u3773 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3774 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:1032px;
  width:100px;
  height:60px;
  display:flex;
}
#u3774 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3775 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:975px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3775_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:63px;
  height:10px;
}
#u3775_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-5px;
  width:10px;
  height:97px;
}
#u3775_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:82px;
  width:63px;
  height:10px;
}
#u3775_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:78px;
  width:18px;
  height:18px;
}
#u3775_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3776 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:1110px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3776_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:63px;
  height:10px;
}
#u3776_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-53px;
  width:10px;
  height:58px;
}
#u3776_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-53px;
  width:63px;
  height:10px;
}
#u3776_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-57px;
  width:18px;
  height:18px;
}
#u3776_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3777 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:862px;
  width:100px;
  height:60px;
  display:flex;
}
#u3777 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3778 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:1174px;
  width:100px;
  height:60px;
  display:flex;
}
#u3778 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3779 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:945px;
  width:100px;
  height:60px;
  display:flex;
}
#u3779 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3780 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:1080px;
  width:100px;
  height:60px;
  display:flex;
}
#u3780 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3781 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:975px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3781_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:60px;
  height:10px;
}
#u3781_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3781_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3782 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:1110px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3782_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:60px;
  height:10px;
}
#u3782_seg1 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3782_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3783 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:1062px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3783_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:56px;
  height:10px;
}
#u3783_seg1 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3783_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3784 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1062px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3784_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u3784_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-5px;
  width:10px;
  height:152px;
}
#u3784_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:137px;
  width:84px;
  height:10px;
}
#u3784_seg3 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:133px;
  width:18px;
  height:18px;
}
#u3784_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:63px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3785 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:1032px;
  width:100px;
  height:60px;
  display:flex;
}
#u3785 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3786 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:1062px;
  width:0px;
  height:0px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
}
#u3786_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:66px;
  height:10px;
}
#u3786_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-175px;
  width:10px;
  height:180px;
}
#u3786_seg2 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-175px;
  width:72px;
  height:10px;
}
#u3786_seg3 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:-179px;
  width:18px;
  height:18px;
}
#u3786_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-114px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u3787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  text-align:center;
}
#u3787 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:884px;
  width:100px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  text-align:center;
}
#u3787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  text-align:center;
}
#u3788 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:1196px;
  width:146px;
  height:17px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#D9001B;
  text-align:center;
}
#u3788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3789 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:621px;
  width:100px;
  height:60px;
  display:flex;
}
#u3789 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3789_ref {
  border-width:0px;
  position:absolute;
  left:139px;
  top:671px;
  width:1px;
  height:1px;
}
#u3790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3790 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:583px;
  width:173px;
  height:26px;
  display:flex;
}
#u3790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.427450980392157);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3791 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:700px;
  width:100px;
  height:60px;
  display:flex;
}
#u3791 .text {
  position:absolute;
  align-self:center;
  padding:5px 10px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3791_ref {
  border-width:0px;
  position:absolute;
  left:139px;
  top:750px;
  width:1px;
  height:1px;
}
#u3792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3792 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:819px;
  width:541px;
  height:26px;
  display:flex;
}
#u3792 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
