body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:197px;
  width:141px;
  height:49px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:118px;
  width:141px;
  height:49px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:37px;
  width:141px;
  height:49px;
  display:flex;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:216px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:17px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:275px;
  width:266px;
  height:216px;
  display:flex;
  text-align:left;
  line-height:17px;
}
#u3 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:19px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:836px;
  width:196px;
  height:292px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:19px;
}
#u4 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:1185px;
  width:141px;
  height:49px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:1114px;
  width:141px;
  height:49px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1163px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u7_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:118px;
}
#u7_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:103px;
  width:18px;
  height:18px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1499px;
  width:254px;
  height:49px;
  display:flex;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:62px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:1269px;
  width:141px;
  height:62px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1276px;
  width:229px;
  height:49px;
  display:flex;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:62px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:1373px;
  width:141px;
  height:62px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1380px;
  width:229px;
  height:49px;
  display:flex;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1331px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u13_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:47px;
}
#u13_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1435px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u14_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u14_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:18px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:1404px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u15_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:54px;
  height:10px;
}
#u15_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-5px;
  width:10px;
  height:11px;
}
#u15_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-4px;
  width:54px;
  height:10px;
}
#u15_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-8px;
  width:18px;
  height:18px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:1300px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:54px;
  height:10px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-5px;
  width:10px;
  height:11px;
}
#u16_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-4px;
  width:54px;
  height:10px;
}
#u16_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-8px;
  width:18px;
  height:18px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1234px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u17_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:40px;
}
#u17_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:18px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:1128px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u18_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:62px;
}
#u18_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:18px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:982px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u19_seg0 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-5px;
  width:75px;
  height:10px;
}
#u19_seg1 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-5px;
  width:10px;
  height:552px;
}
#u19_seg2 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:537px;
  width:46px;
  height:10px;
}
#u19_seg3 {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:533px;
  width:18px;
  height:18px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:248px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:246px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u20_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:34px;
}
#u20_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:18px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:167px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u21_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:35px;
}
#u21_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:20px;
  width:18px;
  height:18px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:86px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u22_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:37px;
}
#u22_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:22px;
  width:18px;
  height:18px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:491px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u23_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:49px;
}
#u23_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:18px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:383px;
  width:0px;
  height:0px;
  color:#70B603;
}
#u24_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:47px;
  height:10px;
}
#u24_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-326px;
  width:10px;
  height:331px;
}
#u24_seg2 {
  border-width:0px;
  position:absolute;
  left:-63px;
  top:-326px;
  width:110px;
  height:10px;
}
#u24_seg3 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-330px;
  width:18px;
  height:18px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-200px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:535px;
  width:272px;
  height:49px;
  display:flex;
}
#u25 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u25_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:62px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:615px;
  width:141px;
  height:62px;
  display:flex;
}
#u26 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u26_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:677px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:54px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:18px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:584px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:36px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:18px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:646px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:479px;
  height:10px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:-5px;
  width:10px;
  height:195px;
}
#u29_seg2 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:180px;
  width:18px;
  height:18px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:282px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:69px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:726px;
  width:173px;
  height:69px;
  display:flex;
}
#u30 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u30_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:795px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:46px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:18px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u32_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:736px;
  width:141px;
  height:49px;
  display:flex;
}
#u32 .text {
  position:absolute;
  align-self:center;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u32_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:761px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:131px;
  height:10px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-9px;
  width:18px;
  height:18px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:292px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:19px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:836px;
  width:196px;
  height:292px;
  display:flex;
  text-align:left;
  line-height:19px;
}
#u34 .text {
  position:absolute;
  align-self:flex-start;
  padding:15px 15px 15px 15px;
  box-sizing:border-box;
  width:100%;
}
#u34_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:982px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u35_seg0 {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:-5px;
  width:168px;
  height:10px;
}
#u35_seg1 {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:-5px;
  width:10px;
  height:137px;
}
#u35_seg2 {
  border-width:0px;
  position:absolute;
  left:-172px;
  top:122px;
  width:18px;
  height:18px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:-198px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
  text-align:center;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:950px;
  width:133px;
  height:22px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#D9001B;
  text-align:center;
}
#u36 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u36_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:766px;
  top:1128px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:87px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:-474px;
  top:77px;
  width:479px;
  height:10px;
}
#u37_seg2 {
  border-width:0px;
  position:absolute;
  left:-482px;
  top:73px;
  width:18px;
  height:18px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:-246px;
  top:74px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
  text-align:center;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:1166px;
  width:154px;
  height:38px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#D9001B;
  text-align:center;
}
#u38 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u38_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:761px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u39_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:196px;
  height:10px;
}
#u39_seg1 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-5px;
  width:10px;
  height:80px;
}
#u39_seg2 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:65px;
  width:18px;
  height:18px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:982px;
  width:0px;
  height:0px;
  color:#D9001B;
}
#u40_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:190px;
  height:10px;
}
#u40_seg1 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-5px;
  width:10px;
  height:137px;
}
#u40_seg2 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:122px;
  width:18px;
  height:18px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
